@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgba(244, 244, 244, 0.61);
  color: #333;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: bold;
}